// Heading styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	clear: both;
	font-weight: $font_weight_headings;
	line-height: $font_line_height_headings;
	margin-bottom: 1.5rem;
	word-wrap: break-word; // keeps long titles form overflowing content area

	a {
		text-decoration: none;
	}

	.entry-header & {
		margin-bottom: 0.5rem;
	}

	// .hero &,
	.single & {
		line-height: 1.2;
		margin-bottom: 0;

		@include phablet {
			line-height: $font_line_height_headings;
		}
	}
}

// Heading font sizes, calculated based on default font size
//––––––––––––––––––––––––––––––––––––––––––––––––––
@include tablet {
	h1 { @include font-size(2.8); }
	h2 { @include font-size(2.4); }
	h3 { @include font-size(2.0); }
	h4 { @include font-size(1.6); }
	h5 { @include font-size(1.2); }
	h6 { @include font-size(0.8); }
}
